@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('static/normalize.min.css');

:root {
	--font-color: #1F2937;
    --base: #10B981;
}

body {
    background-color: #FFF;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li:hover {
    background-color: var(--base);
}

a {
    color: var(--font-color);
    display: block;
    padding: 1rem;
    text-decoration: none;
}
